<footer class="footer">
  <p>This page was built using the Antora default UI.</p>
  <p>The source code for this UI is licensed under the terms of the MPL-2.0 license.</p>
  <!-- Custom: add Git revision and feedback as GitHub issue to the page -->
  (Rev: <span class="truncated"><a href="{{page.attributes.origin-url}}/commit/{{page.attributes.origin-refhash}}">{{page.attributes.origin-refhash}}</a></span>)
  (Feedback: <span class="truncated"><a href="{{page.attributes.origin-url}}/issues/new?title=Feedback: {{page.title}}&amp;body=[Enter%20Feedback%20here]%0A%0A%0A---%0A%23component:%20{{page.component.name}}%0A%23page:%20{{page.relativeSrcPath}}%0A%23revision:%20{{page.attributes.origin-refhash}}">{{page.attributes.origin-refhash}}</a></span>)
</footer>
